.advantages-section{
    &__info-block{
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        &__bann{
            position: relative;
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        border-radius: 2.5rem;
                        overflow: hidden;
                        height: auto;
                        img{
                            @include image_settings(cover);
                        }
                    }
                }
            }
            .button {
                &.prev, &.next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    cursor: pointer;
                    width: 4.5rem;
                    height: 4.5rem;
                    @include mobile{
                        top: auto;
                        bottom: 1.5rem;
                        transform: none;
                    }
                    &.swiper-button-disabled{
                        opacity: 0.5;
                    }
                }
                &.prev{
                    left: -2.25rem;
                    @include mobile{
                        left: 1.75rem;
                    }
                }
                &.next{
                    right: -2.25rem;
                    @include mobile{
                        right: 1.75rem;
                    }
                }
            }
        }
        &__additional{
            &::-webkit-scrollbar {
                display: none;
            }
            @include grid(5, 1.75rem);
            @include mobile{
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
            }
            &__item,
            card-adv{
                overflow: hidden;
                border-radius: 1rem;
                padding: 1.75rem 1.75rem 5.417rem ;
                position: relative;

            }
            display: flex;
            position: relative;
            z-index: 1;
            grid-column: span 5;
        }
    }
}
