.advantages-section{
    &__info-block{
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        &__bann{
            position: relative;
            .swiper{
                .swiper-wrapper{
                    .swiper-slide{
                        border-radius: 2.5rem;
                        overflow: hidden;
                        height: auto;
                        img{
                            @include image_settings(cover);
                        }
                    }
                }
            }
            .button {
                &.prev, &.next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    cursor: pointer;
                    width: 4.5rem;
                    height: 4.5rem;
                    @include mobile{
                        top: auto;
                        bottom: 1.5rem;
                        transform: none;
                    }
                    &.swiper-button-disabled{
                        opacity: 0.5;
                    }
                }
                &.prev{
                    left: -2.25rem;
                    @include mobile{
                        left: 1.75rem;
                    }
                }
                &.next{
                    right: -2.25rem;
                    @include mobile{
                        right: 1.75rem;
                    }
                }
            }
        }
        &__additional{
            &::-webkit-scrollbar {
                display: none;
            }
            @include grid(5, 1.75rem);
            @include mobile{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                overflow-x: auto;
            }
            &__wrapper{
                overflow: hidden;
                border-radius: 1rem;
                padding: 1.75rem 1.75rem 5.417rem ;
                position: relative;
                background-color: $bg-primary;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                &__title{
                    @include button_1;
                    display: flex;
                    position: relative;
                    z-index: 1;
                    grid-column: span 5;
                }
                &__description{
                    @include text_3;
                    position: relative;
                    z-index: 1;
                    color: $text-primary-transparent-60;
                    width: 70%;
                }
                img{
                    position: absolute;
                    @include image_settings(contain);
                    width: 8.75rem;
                    height: 8.75rem;
                    right: 0;
                    bottom: 0;
                }
            &__other{
                background-color: $bg-accent;
            }
            }
        }
    }
}

.card-adv {
    background-color: $bg-primary;
    &_style {
        &_accent {
            background-color: $bg-accent;
        }
    }
}